@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: white;
  font-size: 18px;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

a {
  color: #E2F4FB;
  font-weight: bold;
  text-shadow: 1px 1px 1px black, 1px 1px 5px black, 1px -1px 5px black;
}

header {
  font-family: "ABeeZee", sans-serif;
  background: url("../img/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header nav {
  display: grid;
  grid-template-columns: 240px 1fr;
  background: rgba(255, 255, 255, 0.9);
  padding: 5px 20px;
}
header nav ul {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}
header nav ul li {
  margin-right: 20px;
}
header section {
  background: rgba(23, 81, 227, 0.2);
  display: grid;
  grid-template-columns: 1fr 300px;
  padding: 50px 20px;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
header section blockquote {
  grid-template-columns: 1fr 300px;
  color: white;
  text-shadow: 1px 1px 1px black, 1px 1px 5px black, 1px -1px 5px black;
  font-size: 1.1em;
  padding: 20px;
}
header section form {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  padding-top: 60px;
}
header section form input, header section form button, header section form h3, header section form textarea {
  margin-bottom: 20px;
}
header section form input, header section form textarea {
  padding: 5px;
  width: calc(100% - 14px);
  border: 0;
}
header section form textarea {
  resize: none;
}
header section form button {
  background: #0094C9;
  width: 100%;
  font-size: 0.9em;
  border: none;
  padding: 5px;
  color: white;
}
header section form h3 {
  color: #E2F4FB;
  text-align: center;
}

#titulos {
  color: #250E70;
  font-size: 2em;
  text-shadow: 1px 1px 1px white, 1px 1px 5px white, 1px -1px 5px white;
}

#article-stackholder {
  background: #250E70;
  font-size: 2em;
  text-align: center;
  padding: 30px 20px 60px 20px;
  color: #E2F4FB;
  font-weight: bold;
  text-shadow: 1px 1px 1px black, 1px 1px 5px black, 1px -1px 5px black;
  border-bottom: 1px solid white;
}

#article-ventajas {
  background: rgb(37, 14, 112);
  font-size: 2em;
  text-align: center;
  padding: 30px 20px 60px 20px;
  color: #E2F4FB;
  font-weight: bold;
  text-shadow: 1px 1px 1px black, 1px 1px 5px black, 1px -1px 5px black;
}

main {
  font-family: "ABeeZee", sans-serif;
}
main section {
  display: grid;
  grid-template-columns: 600px 1fr;
  border-bottom: 1px solid #250e70;
}
main section article {
  padding: 50px;
}
main section article ul {
  list-style-type: square;
  justify-content: flex-end;
  color: rgb(37, 14, 112);
}
main section article ul li {
  font-size: 1.2em;
  padding: 10px;
  margin-right: 20px;
}

footer {
  font-family: "ABeeZee", sans-serif;
  background: rgb(0, 0, 0);
  padding: 20px 20px 40px 20px;
  text-align: center;
}
footer section {
  border-bottom: 1px solid white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
footer section article img {
  height: 50px;
  width: 50px;
  background: rgba(255, 255, 255, 0.8);
}
footer section article h2 {
  padding: 10px;
  font-size: 1.1em;
  color: #E2F4FB;
}

#text-p {
  font-size: 0.8em;
  color: white;
}

#container-copy {
  display: inline-block;
  padding: 10px;
  color: white;
  text-align: right;
  border-bottom: none;
}

@media screen and (max-width: 600px) {
  header nav {
    grid-template-columns: 30px 1fr;
    padding: 1px 20px;
  }
  header nav #logo-1 {
    display: none;
  }
  header section {
    grid-template-columns: none;
  }
  main section {
    grid-template-columns: none;
  }
  footer section {
    grid-template-columns: none;
  }
  #article-stackholder {
    border: none;
  }
}
@media screen and (min-width: 600px) {
  header nav {
    grid-template-columns: 30px 1fr;
    padding: 1px 20px;
  }
  header nav #logo-2 {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */